.direction > div {
    width: 200px;
    height: 200px;
    background: blue;
    margin: 2em;

}
.direction > div:last-child {
    background: red;
}
.direction {
    display: flex;
}



/*======================================================*/
/* RESPONSIVE DESIGN */
/*======================================================*/
@media screen and (max-width: 768px) {
    .direction {
        flex-direction: column;
    } 
    /* on veut cacher le texte des qu'on est sur mobile
    voir aussi hidden mais peut faire un espace blanc du coup*/
    h2 {
        display: none;
    }
}
@media screen and (max-width: 768px) and (max-width:996px) {
    .direction {
        flex-direction: column-reverse;
    }
    .direction > div:first-child {
        background: yellow;
    }
    .direction > div:last-child {
        background: green;
    }
}