section div {
    /* largeur */
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    
}

div:first-of-type {
    background: rgb(155, 21, 94);
    box-shadow: 10px 5px 10px rgba(94, 255, 148, 0.35);
}
div:nth-child(2) {
    background: rgba(10, 165, 88, 0.356);
    box-shadow: 10px 5px 5px rgba(255, 252, 103, 0.35);
}
div:last-of-type {
    background: rgb(91, 236, 229);
    box-shadow: 10px 5px 5px rgba(248, 118, 118, 0.35);
}

/*section {
    display: flex;
    flex-direction: column;
}*/

div:first-of-type:hover {
    background: rgb(91, 236, 229);
}
div:last-of-type:hover {
    box-shadow: rgba(248, 118, 118, 0.20) 10px -50px 36px -28px inset;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
}
.flex {
    display: flex;
}
/* déplacement axe principal */
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

/* separation */
.separation{
    height: 50px;
    background-color: brown!important;
}

/* déplacement axe secondaire */
.container{
    padding: 5px;
    background: yellow;
    height: 600px;

}

.align-flex-start {
    align-items: flex-start;
}
.align-flex-end {
    align-items: flex-end;
}
.align-center {
    align-items: flex-end;
}