

                                                 /* ENTETE */
body {
    margin: auto 20px;
}
* {
    outline: 1px solid black;
}
header {
    background-color: cadetblue;
}
.logo {
    width: 150px;
    height: 150px;
    clip-path:ellipse(50% 50%);
    object-fit: cover;
}
.monNom {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center; 
}
h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}
h2 {
    font-family: 'Annie Use Your Telescope', cursive;
}
.resume h2 {
    align-self: baseline;
}
.sommaire p {
   border: 1px solid khaki;
   border-radius: 20px;
   text-align: justify;
   padding: 10px;
   margin-top: 15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffc107;
}
.skills {
    margin-top: 10px;
    background-color: rgb(229, 231, 219);
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.35);
    margin-left: 11px;
}
.liste {
    list-style: square;
}
.portfolio {
    margin-top: 20px;
}
footer {
    background-color: cadetblue;
}
.logofooter {
    width: 100px;
}
/*


#competences {
    width: 65%;
    text-align: left;
    background-color: aliceblue;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.35);
    
}
#formastage {
    border-right-color: 1px #fff;
    
}
.separation1 {
    margin: 5px;
    height: 10px;
    background-color: rgb(255, 255, 255); 
}
.contain {
    margin: 10px;
    padding: 10px;
    background: rgb(252, 214, 237);
    width: 100%;
    flex-direction: row;
}


.interetcontact {
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    
}
.portfolio {
    padding: 20px;
    border: 1px solid black;
}

.boldred
{
    color: rgb(255, 6, 6);
    text-transform: uppercase;
    font-weight: bold;
}






.fa-location-dot
{
    color: coral;
}*/

/*==============================================================
                       PAGE BLOGFOLIO / CONTACT FORM
================================================================*/
/*==============================================================
                       PAGE CONTACT / CONTACT FORM
================================================================*//*
.basdepage {
    background-color: rgb(4, 57, 61);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}*/
.retouraccueil {
    color: chartreuse;
}
/*------------------FORM----------------------*/
form {
    width: 500px;
    margin: auto;
    background-color: blueviolet;
}
form input {
    border: 2px solid #fff;
    border-radius: 100em;
    color: rgb(1, 36, 36);
    font-size: 2.5em;
    outline: none;
    width: 100%;

}
form input:focus {
    border: 5px solid rgb(1, 187, 110);
}
form input:not(:focus):invalid {
    border: 2px solid red;
    background: red;
    color: white;
}

