

                                                 /* ENTETE */
body {
    margin: auto 10px;
}
* {
    outline: 1px solid black;
}

.entete li {
    list-style: none;
    background-color:rgb(255, 254, 248);
}
header {
    background-color: cadetblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    width: 100%;
}

.logo-burger, .logofooter {
    width: 150px;
    height: 100px; 
}

.logo-central {
    width: 200px;
    height: 150px; 
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        display: none;
    }
}

h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
    font-size: 60px;
    color: black;
    text-align: center;
    text-shadow: khaki 1px 0 5px;
    margin: 0 0 30px 0;
    padding: 30px 0;
    
}
.indication-couleur {
    background: linear-gradient(cadetblue, 50%, white);
    width: 100%;
  }
h2 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
}
h2::first-letter {
    color: khaki;
    font-size: 130%;
  }
.resume, .portfolio {
    background-color: rgb(255, 253, 241);
    margin: 30px auto;
    width: 100%;
}
.sommaire p {
    border-left: 5px solid cadetblue;
    border-radius: 5px;
    border-bottom: 1px dotted cadetblue;
   border-radius: 5px;
   text-align: justify;
   padding: 10px auto;
   margin-top: 15px;
   padding: 5px;
}
.btn-cv{
    background-color: khaki;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}
.resume .btn-cv:hover {
    background-color: cadetblue;
    color: white;
}
.skillsetcompetences {
    /* margin: auto 20px; */
}
.skills {
    
    background-color: cadetblue;
    color: white;
    border-radius: 20px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    
}
.skills li {
    list-style: none;
}
.formastage {
    border-left: 5px solid khaki;
    border-radius: 5px;
    border-bottom: 1px dotted khaki;
}
.liste {
    list-style: square;
    color: cadetblue;
}
.liste p {
    color: black;
}
.hardskills {
    margin: 30px 0;
}

.portfolio {
    margin-top: 20px;
}
.portfolio .btn-blog {
    margin: 10px auto;
}
.swiper4 {
    width: 100%;
    margin: 1rem auto;
    max-height: 800px;
    
    overflow: hidden;
}
.swiper4 img {
    width: auto;
    max-height: 150px;
}
.swiper4 .swiper-button-next, .swiper4 .swiper-button-prev {
    color: cadetblue;
    font-weight: bold;
}
.swiper-slide {
    text-align: center;
}

.portfolio .btn-blog{
    background-color: khaki;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}
.btn-blog a,.btn-cv a {
    text-decoration: none;
    color: black;
}
.portfolio .btn-blog:hover {
    background-color: cadetblue;
    color: white;
}
.swiper-pagination {
    position: relative!important;
    padding: 10px;
    
}
.footer1 {
    background-color: cadetblue;
    color: white;
    padding: 0 10px;
    margin: 10px 0;
}
.macaron-footer {
    width: 100px;
}
.footer2 {
   font-size: 12px;
   text-align: center;
}
.fa-location-dot
{
    color: white;
}

/*==============================================================
                       PAGE BLOGFOLIO / CONTACT FORM
================================================================*/
/*==============================================================
                       PAGE CONTACT / CONTACT FORM
================================================================*//*
.basdepage {
    background-color: rgb(4, 57, 61);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}*/
.retouraccueil {
    color: chartreuse;
}
/*------------------FORM----------------------*/
form {
    width: 500px;
    margin: auto;
    background-color: blueviolet;
}
form input {
    border: 2px solid #fff;
    border-radius: 100em;
    color: rgb(1, 36, 36);
    font-size: 2.5em;
    outline: none;
    width: 100%;

}
form input:focus {
    border: 5px solid rgb(1, 187, 110);
}
form input:not(:focus):invalid {
    border: 2px solid red;
    background: red;
    color: white;
}

